<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width,initial-scale=1,shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap4/lib/bootstrap4.2/css/bootstrap.css">
    <!-- JavaScript脚本文件 -->
    <script src="/bootstrap4/lib/jquery-3.3.1.slim.js"></script>
    <script src="/bootstrap4/lib/bootstrap4.2/js/bootstrap.js"></script>
</head>
<body>
<a href="#" class="btn btn-primary m-5">Hello World！</a>
</body>
</html>